<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GMIProspect"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="GMI Prospect App"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CoursesActivity"
            android:exported="false"
            android:label="GMI Courses"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EligibilityActivity"
            android:exported="false"
            android:label="Eligibility Checker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".EnquiryActivity"
            android:exported="false"
            android:label="Enquiry"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:label="Contact Us"
            android:parentActivityName=".EnquiryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:label="About Us"
            android:parentActivityName=".EnquiryActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>